.home-content .employee_list{
    background: #fff;
    padding: 20px 30px;
    /* margin: 0 20px; */
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .employee_list .employee_details{
    /* width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
    margin-top: 20px;
}

.home-content .employee_list .title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.home-content .employee_list .employee_details .details td{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 10px 10px 0 0 ;
}

.home-content .employee_list .employee_details li{
    padding-top: 10px;
}