
.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-text {
  color: red;
}

.bold-text {
  font-weight: bold;
}

.row-center {
  text-align: center;
}

.col-center {
  display: flex;
  align-items: center;
}

.img-size {
  width: 80px;
  height: 80px;
}

.increase {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 0px 3px 3px 0px;
}

.increase:hover {
  background-color: rgb(106, 139, 248);
}

.decrease {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 3px 0px 0px 3px;
}

.decrease:hover {
  background-color: rgb(106, 139, 248);
}

.number {
  width: 45px;
  height: 30px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 0px 0px 0px 0px;
}

#cart-header {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.cart-product {
  margin-top: 5px;
  border-radius: 10px;
  height: 100px;
}

#shopping-cart {
  margin-top: 30px;
}

#cart-price {
  border-radius: 10px;
  height: fit-content;
}

#cart-address {
  border-radius: 10px;
  padding: 5%;
}

#cart-total {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5%;
}

#cart-address-thaydoi {
  font-size: 80%;
  color: blue;
  text-decoration: underline;
}

#cart-address-giaotoi {
  font-size: 120%;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

#address-detail {
  font-size: 80%;
}
